<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MusicZone{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">MusicZone</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums</a></li>
                <li class="{% block songs_active %}{% endblock %}"><a href="{% url 'songs' %}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Songs</a></li>
                {% if user.is_authenticated %}
                <li class="{% block favorite_avtive %}{% endblock %}"><a href="{% url 'favorite' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; Favorite</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'add-album' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
                    </a>
                </li>
                <li>
                    <a href="{% url 'create-song' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Song
                    </a>
                </li>
                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; {{ user.get_username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'signup' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; SignUp
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; LogIn
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>                           
                                   <!-- Navbar ends-->            
                    

{% block content %}
{% endblock %}
    <script type="text/javascript">
    {% block script %}
    {% endblock %}
</script>
</body>
</html>
